name: lci
#https://github.com/mikekaprielian/rtnaodhor93n398
# https://regex101.com/

# (https?:\/\/live)(.*m3u8)

# L’outil curl permet aussi de fixer un serveur proxy par lequel obligatoirement passer pour tout chargement. L’option à utiliser est "–x" :

# curl –x proxy.mydmn.org:3128 http://www.mydmn.org/

on:
  schedule:
    - cron: '0 */3 * * *'  # S'exécute toutes les 3 heures
  workflow_dispatch:      # Permet le déclenchement manuel

jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
      - name: Référentiel d’extraction
        uses: actions/checkout@v4

      - name: Créer un dossier fr
        run: mkdir -p fr

      - name: Créer un dossier txt
        run: mkdir -p txt        

      - name: Récupère le flux de lCI
        run: |
          base=$(curl -k -s -H "User-Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 14_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.2 Mobile/15E148 Safari/604.1" https://mediainfo.tf1.fr/mediainfocombo/L_LCI?format=hls&context=ONEINFO | grep -oE "https?:\/\/live.*\.m3u8"
          #flux=$(curl -k -e "https://www.tf1.fr" -A "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36" -H "Origin: https://www.tf1.fr" $base)
          echo "$base" > a01/frlci.m3u8


      - name: Valider et envoyer les modifications
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "BG47510"
          git add -A
          ls -la 
          git commit -m "Dernière actualisation"
          git push
